:root {
    --body: #475569;
    --headings: #1e293b;
    --accent: #db2777;
    --border: #e2e8f0;
    --background: #f5f5f5;
}

body {
    background-color: var(--background);
    color: var(--body);
    font-family: "Open Sans", sans-serif;
}

/** typography **/
h1, h2 {
    color: var(--headings);
    font-size:2.125rem; /*34px*/
    font-weight: 300;
    text-align: center;
}

h2 {
    font-weight: 400;
    margin-bottom: 1.5rem;
}

p { margin-bottom: 1rem; }

code {
    color: var(--accent);
}

/** utility classes **/
.inner-container {
    margin: 3rem auto;
    max-width: 70rem; /**1120px**/
    padding: 1rem;
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

/** layout **/
header .flex-container {
    flex-flow: row nowrap;
    align-items: center;
}

.img-container {
    flex: 1 8.5 15%; /** flex-grow, flex-shrink, flex-basis (flex-width)**/
    /** shorthand 
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 15%;**/
}

h1 {
    flex: 7 1 70%;
}

.bg-color {
    background-color: var(--headings);
}

section, aside {
    background-color: #fff;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 2rem 1rem;
}

@media (min-width: 700px) {
    .flex-container {
        flex-flow: row nowrap;
    }
    h1 {
        font-size: 3rem;
        flex: 8 1 80%;
    }
    .img-container {
        flex: 1 9 10%;
    }

    section {
       flex: 3 1 75%;
    }

    aside {
        flex: 1 1 25%;
    }
}